.Navbar {
    /* Add your Navbar styles here */
  }
  
  .product-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .product-form p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .success-msg,
  .error-msg {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .error-msg {
    background-color: #f2dede;
    color: #a94442;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="file"] {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #286090;
  }
  